@page "/"
@using System.Security.Claims
@using ITS.CPER.InternalWebPage.Data.Models;
@using ITS.CPER.InternalWebPage.Data.Services;
@using MudBlazor;
@inject IDataAccess _dataAccess

<PageTitle>HomePage</PageTitle>

@if (smartwatch_data == null || heartbeat_data.Count() == 0)
{
    <MudProgressCircular Class="progressCircle" Color="Color.Default" Style="height:70px; width:70px;" Indeterminate="true" />
}
else
{
    <MudTable Items="@smartwatch_data" Hover="true" Breakpoint="Breakpoint.Sm">
        <ColGroup>
            <col style="width:200px;" />
            <col style="width:200px;" />
            <col />
            <col style="width:200px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh><strong>SmartWatch_Id</strong></MudTh>
            <MudTh><strong>Production_Batch</strong></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.Activity_Id))">@((context.ShowDetails == false) ? "▼" : "▲") Details</MudButton></MudTd>
            <MudTd DataLabel="SmartWatch_Id">@context.SmartWatch_Id</MudTd>
            <MudTd DataLabel="ProdBatch">@production_batch[context.SmartWatch_Id]</MudTd>
        </RowTemplate>
        <ChildRowContent>
            @if (context.ShowDetails)
            {
                <MudTr>
                    <td colspan="4">
                        <MudCard Elevation="0">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Data Details for Activity <strong>@context.Activity_Id</strong></MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent Class="pa-0">
                                <MudTable Items="@smartwatch_data.Where(x => x.Activity_Id.Equals(context.Activity_Id))" Context="SmartWatchContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                    <ColGroup>
                                        <col />
                                        <col />
                                        <col style="width:200px;" />
                                    </ColGroup>
                                    <HeaderContent>
                                        <MudTh><strong>Latitude</strong></MudTh>
                                        <MudTh><strong>Longitude</strong></MudTh>
                                        <MudTh><strong>Heartbeat</strong></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Final_Latitude">@context.Final_Latitude</MudTd>
                                        <MudTd DataLabel="Final_Longitude">@context.Final_Longitude</MudTd>
                                        <MudTd DataLabel="Heartbeat">@context.Heartbeat</MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </MudCardContent>
                        </MudCard>
                    </td>
                </MudTr>
            }
        </ChildRowContent>
    </MudTable>
}


@code {
    private List<SmartWatch> smartwatch_data = new List<SmartWatch>();
    private List<HeartBeat> heartbeat_data = new List<HeartBeat>();
    private Dictionary<Guid, Guid> production_batch = new Dictionary<Guid, Guid>();

    protected override async Task OnInitializedAsync()
    {
        smartwatch_data = await _dataAccess.GetSmartWatchesDataAsync();
        production_batch = await _dataAccess.GetProductionBatch();
        foreach (var data in smartwatch_data)
        {
            heartbeat_data = await _dataAccess.HeartbeatQuery(data);
            data.Heartbeat = heartbeat_data.Last().Heartbeat;
        }
    }

    private void ShowBtnPress(Guid id)
    {
        SmartWatch tmpData = smartwatch_data.First(f => f.Activity_Id == id);
        tmpData.ShowDetails = !tmpData.ShowDetails;
    }
}